<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Locations</title>
</head>
<body>

<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1><a href="/" class="text-dark">Sighting Manager</a></h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="organizations.html" class="btn btn-outline-primary btn-lg">Organization</a>
        </div>
        <div class="col text-center m-3">
            <a href="sightings.html" class="btn btn-outline-primary btn-lg">Sightings</a>
        </div>
        <div class="col text-center m-3">
            <a href="heroes.html" class="btn btn-outline-primary btn-lg">Heroes</a>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col-3 text-center m-3">
            <span class="h3">Edit Sighting</span>
        </div>
        <div class="col-7 text-center m-3">
            <form action="editSighting.html" method="POST">
                <div class="form-group row">
                    <label for="date" class="col-3 col-form-label">Date</label>
                    <div class="col-9">
                        <input type="datetime-local" name="date" id="date" class="form-control"
                               th:value="${sighting.date}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-3 col-form-label">
                        Description</label>
                    <div class="col-9">
                        <input type="text" name="description"
                               id="description" class="form-control"
                               th:value="${sighting.description}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="hero" class="col-3 col-form-label">Hero</label>
                    <div class="col-9">
                        <select id="hero" name="heroId" class="form-control" >
                            <option th:each="hero : ${heroes}"
                                    th:value="${hero.id}"
                                    th:text="${hero.name}"
                                    th:selected="${sighting.hero.id == hero.id}">
                                Hero Name</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="location" class="col-3 col-form-label">Location</label>
                    <div class="col-9">
                        <select id="location" name="locationId"
                                class="form-control">
                            <option th:each="location : ${locations}"
                                    th:value="${location.id}"
                                    th:text="${location.name}"
                                    th:selected="${sighting.location.id == location.id}">
                                Location Name</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${sighting.id}"/>
                <button type="submit" class="btn btn-primary">Edit Sighting</button>
            </form>
        </div>
    </div>
</div>